<div class="main-photo-rect-outer">
  <div class="main-photo-rect-bg">
    <div class="profile-photo-col">
      <img src="/img/profile-main.jpg" alt="Edith Puclla" class="profile-photo-rect-centered" onmouseover="this.src='/img/profile-hover.jpg'" onmouseout="this.src='/img/profile-main.jpg'" />
      <div class="profile-name">Edith Puclla</div>
      <div class="profile-desc">Systems Engineering, Kubernetes, Databases</div>
      <div class="social-connect-text">Let's Connect</div>
      <div class="profile-socials">
        <a href="https://twitter.com/edithpuclla" class="social-icon" target="_blank" aria-label="X (Twitter)">
          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="28" height="28" rx="14" fill="#1D9BF0"/><path d="M19.6 8.4h-1.7l-3.7 4.6-3.7-4.6H8.4l4.6 5.7-4.6 5.9h1.7l3.8-4.8 3.8 4.8h1.7l-4.6-5.9 4.6-5.7z" fill="#fff"/></svg>
        </a>
        <a href="https://www.linkedin.com/in/edithpuclla" class="social-icon" target="_blank" aria-label="LinkedIn">
          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="28" height="28" rx="14" fill="#0077B5"/><path d="M10.8 19.2H8.7v-6.2h2.1v6.2zm-1-7.1c-.7 0-1.2-.5-1.2-1.2s.5-1.2 1.2-1.2 1.2.5 1.2 1.2-.5 1.2-1.2 1.2zm8.2 7.1h-2.1v-3.3c0-.8-.3-1.4-1-1.4-.6 0-.9.4-1.1.8-.1.2-.1.4-.1.7v3.2h-2.1s.1-5.2 0-6.2h2.1v.9c.2-.4.8-1 1.9-1 1.5 0 2.5 1 2.5 3v3.3z" fill="#fff"/></svg>
        </a>
        <a href="https://github.com/edithturn" class="social-icon" target="_blank" aria-label="GitHub">
          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="28" height="28" rx="14" fill="#181717"/><path d="M14 7.3c-3 0-5.4 2.4-5.4 5.4 0 2.4 1.6 4.4 3.8 5.1.2 0 .3-.1.3-.2v-1c-1.5.3-1.9-.6-1.9-.6-.2-.6-.6-.7-.6-.7-.5-.3 0-.3 0-.3.6 0 .8.6.8.6.5.8 1.3.6 1.6.4.1-.3.2-.6.3-.7-1.2-.1-2.4-.6-2.4-2.6 0-.6.2-1 .5-1.4-.1-.2-.2-.7.1-1.3 0 0 .4-.2 1.4.5.4-.1.8-.2 1.2-.2s.8.1 1.2.2c1-.7 1.4-.5 1.4-.5.3.6.1 1.1.1 1.3.3.4.5.8.5 1.4 0 2-1.2 2.5-2.4 2.6.2.2.3.4.3.8v1.2c0 .1.1.2.3.2 2.2-.7 3.8-2.7 3.8-5.1 0-3-2.4-5.4-5.4-5.4z" fill="#fff"/></svg>
        </a>
        <a href="https://bsky.app/profile/edithpuclla.bsky.social" class="social-icon" target="_blank" aria-label="Bluesky">
          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="28" height="28" rx="14" fill="#0285FF"/><path d="M14 8.6c-1 0-1.8.6-2.2 1.4-.4-.8-1.2-1.4-2.2-1.4-1.4 0-2.5 1.1-2.5 2.6 0 1.8 1.8 3.4 4.7 5.8.2.1.5.1.7 0 2.9-2.4 4.7-4 4.7-5.8 0-1.5-1.1-2.6-2.5-2.6z" fill="#fff"/></svg>
        </a>
      </div>
      <div class="mini-footer">
        <p>From Peru 🇵🇪</p>
        <p>Living in London, UK 🇬🇧 </p>
      </div>
    </div>
  </div>
</div>
